/*
=============================================================================================================================================
GLOBALS
=============================================================================================================================================
*/

body,
html,
#root{
  height: 100%;
}

/*
https://css-tricks.com/snippets/css/remove-dotted-link-borders/
Remove dotted link borders on mobile!
*/
a:active {
  outline: none;
}

/*
CSS DEBUG
https://medium.freecodecamp.org/heres-my-favorite-weird-trick-to-debug-css-88529aa5a6a3
*/
/*
*:not(path):not(g) {
  color:                    hsla(210, 100%, 100%, 0.9) !important;
  background:               hsla(210, 100%,  50%, 0.5) !important;
  outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

  box-shadow: none !important;
}
*/